# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/
miniprogram_npm/
cloudfunctions/package-lock.json
project.private.config.json
miniprogram/appSecret.js
.secret.yaml
miniprogram/signKey.js
.app.yaml
